from django.views.generic.edit import DeleteView
from django.urls import reverse_lazy

from ${model.app_name}.models import ${model.name}

class ${model.name}DeleteView(DeleteView):
    model = ${model.name}
    template_name = "${model.app_name}/${model.name_lower}_delete.html"
    success_url = reverse_lazy('${model.name_lower}-list')
