#Core Django imports
from django.test import TestCase
from django.urls import reverse

#Third-party app imports
from model_bakery import baker

from ${model.app_name}.models import ${model.name}


class ${model.name}ViewsTest(TestCase):

    def setUp(self):
        self.${model.name_lower} = baker.make(${model.name})

#for $action in $actions:
    def test_${model.name_lower}_${action}_view_status_code(self):
        #if $action == "create" or $action == "list"
        url = reverse("${model.name_lower}-${action}")
        #else
        url = reverse("${model.name_lower}-${action}",  args=[1])
        #end if
        resp = self.client.get(url)
        self.assertEqual(resp.status_code, 200)
#end for