from django.views.generic.edit import UpdateView
from django.urls import reverse_lazy

from ${model.app_name}.models import ${model.name}
from ${model.app_name}.forms import ${model.name}UpdateForm

class ${model.name}UpdateView(UpdateView):
    model = ${model.name}
    form_class = ${model.name}UpdateForm
    template_name = "${model.app_name}/${model.name_lower}_update.html"
    success_url = reverse_lazy('${model.name_lower}-list')