<script>
	import '../tailwind.css';

	import Navbar from '../lib/Navbar.svelte';
	import Sidebar from '../lib/Sidebar.svelte';

</script>

<Navbar />

<main class="flex flex-1 bg-base-300" >
<Sidebar />
    <slot />
</main>

<style>
	:global(html, body, body>div) {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;
		margin: 0;
	}
    main{
        padding: 0;
    }

</style>
