<script>
	import '../tailwind.css';

	import Navbar from '../lib/Navbar.svelte';
	import Sidebar from '../lib/Sidebar.svelte';
    let is_sidebar_open;

    
</script>
<Navbar {is_sidebar_open}></Navbar>
<div class="drawer drawer-mobile">
    <input id="my-drawer-2" bind:checked={is_sidebar_open} type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col p-2">
      
      <slot></slot>
    
    </div> 
    <Sidebar bind:is_sidebar_open></Sidebar>
  </div>
<style>
	:global(html, body, body>div) {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;
		margin: 0;
	}
    

</style>
