
<script>
  import {Icon} from '@steeze-ui/svelte-icon'
  import {X, MenuAlt1} from '@steeze-ui/heroicons'
  export let is_sidebar_open;
</script>
<div class="navbar bg-base-300">
	<div class="navbar-start">
		<div class="dropdown">
            <label for="my-drawer-2" class="btn btn-ghost lg:hidden">
                <Icon class="{is_sidebar_open ? "text-error" : "text-primary-focus"}" src="{is_sidebar_open ? X : MenuAlt1}" size="24"/>
            </label>

			<ul
				tabindex="0"
				class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
			>
        </ul>
		</div>
		<a href="https://daisyui.com/" class="btn btn-ghost normal-case text-xl">daisyUI</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal p-0">
		</ul>
	</div>
	<div class="navbar-end">
		<a href="/" class="btn">Get started</a>
	</div>
</div>